@font-face {
    font-family: 'Jost300';
    src: url('../../public/fonts/Jost-Light.woff2') format('woff2'),
        url('../../public/fonts/Jost-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Jost200';
    src: url('../../public/fonts/Jost-Thin.woff2') format('woff2'),
        url('../../public/fonts/Jost-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JostMedium';
    src: url('../../public/fonts/Jost-Book.woff2') format('woff2'),
        url('../../public/fonts/Jost-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JostSemiBold';
    src: url('../../public/fonts/Jost-Semi.woff2') format('woff2'),
        url('../../public/fonts/Jost-Semi.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Jost* 500';
    src: url('../../public/fonts/Jost-Medium.woff2') format('woff2'),
        url('../../public/fonts/Jost-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

