.footer{
    background-color: black;
    color: $main-color;
    @media (max-width: 575.98px) { 
        height: inherit;
    }
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'JostSemiBold';
    ul{
        margin: 0;
        @media (max-width: 575.98px) { 
            margin: 10px;
            display: flex;
            align-items: center;
            flex-direction: column;
         }
        li{
            display: inline-block;
            margin:  0 20px;
            text-transform: uppercase;
            flex-wrap: wrap;
            a{
                padding: 4px 20px;
                transition: all 0.3s ease;
                &:hover{
                    color: black;
                    background-color: $main-color;
                }
        }   }
    }
}