.movies-list{
    padding: 50px 100px;
    h2{
        @include title-separator;
    }
    .col-1{
        cursor: pointer;
        transform: scale(1.0);
        transition: all 0.5s ease;
        &:hover{
            transform: scale(1.1);
            transition: all 0.5s ease;
        }
    }
}

.movie-main{
    padding: 20px 40px;
    h2{
        font-family: 'JostSemiBold';
        margin: 0;
    }
    span{
        font-size: 1.3rem;
        color: #6A6A6A;
        font-family: 'JostSemiBold';
    }
    p{
        font-family: 'Jost300';
        font-size: 1.2rem;
        margin-top: 10px;
    }

}

.category-list{
    h2{
        @include title-separator;
    }
    .ratio{
        margin: 50px 0;
    }
}

.profile-list{
    padding: 30px 100px;
    h2{
        @include title-separator;
        margin-bottom: 30px;
    }
    span{
        font-family: 'JostSemiBold';
        font-size: 1.4rem;
        // line-height: 0;
        display: block;
    }
    button{
        border: none;
        font-family: 'JostMedium';
        font-size: 1rem;
        margin-top: 5px;
        display: block;
    }
    .btn-remove{
        background-color: black;
        color: white;
    }
    .btn-favorites{
        background-color: $main-color;
        color: black;
    }
    .col-2{
        margin-top: 20px;
    }
}

.popular-upcoming{
    margin-top: 30px;
    .col-1{
        padding: 0;
    }
    p{
        font-family: "JostSemiBold";
        font-size: 1.1rem;
        padding-top: 5px;
        line-height: 1.3;
        padding-right: 10px;
    }
}