.navbar{
    background-color: black;
    font-family: 'JostSemiBold';
    font-size: 1.1rem;
    padding: 0 100px;
}

.navbar-nav{
    button{
        border: none;
        background-color: transparent;
        color: $main-color;
        text-transform: uppercase;
        padding: 4px 20px;
        transition: all 0.3s ease;
        &:hover{
            color: black;
            background-color: $main-color;
        }
    }

}

.navbar-collapse{
    flex-grow: inherit;
}

.navbar-toggler{
    background-color: $main-color;
}

.navbar-brand{
    img{
        @media (max-width: 575.98px) { 
            max-width: 130px;
         }
    }
}
