@font-face {
  font-family: "Jost* 300";
  src: url("../../public/fonts/Jost-Light.woff2") format("woff2"), url("../../public/fonts/Jost-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Jost* 200";
  src: url("../../public/fonts/Jost-Thin.woff2") format("woff2"), url("../../public/fonts/Jost-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Jost* 400 Book";
  src: url("../../public/fonts/Jost-Book.woff2") format("woff2"), url("../../public/fonts/Jost-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "JostSemiBold";
  src: url("../../public/fonts/Jost-Semi.woff2") format("woff2"), url("../../public/fonts/Jost-Semi.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Jost* 500";
  src: url("../../public/fonts/Jost-Medium.woff2") format("woff2"), url("../../public/fonts/Jost-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
.navbar {
  background-color: black;
  font-family: "JostSemiBold";
  font-size: 1.1rem;
  padding: 0 100px;
}

.navbar-nav a {
  color: #F2CD36;
  text-transform: uppercase;
  padding: 4px 20px;
}
.navbar-nav a:hover {
  color: black;
  background-color: #F2CD36;
}

.header {
  background-image: url(../assets/bg-cinema.png);
  height: 40vh;
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 100px;
}
.header h2, .header p {
  font-family: "JostSemiBold";
  text-transform: uppercase;
}
.header h2 {
  font-size: 2.5rem;
  margin: 0;
}
.header p {
  font-size: 1.2rem;
}

.movie-input {
  color: white;
  border: none;
  padding: 6px 12px;
  outline: none;
  width: 620px;
  color: #6A6A6A;
  text-transform: uppercase;
}

.search-btn {
  background-color: #F2CD36;
  border: none;
  padding: 0px 10px 4px 10px;
  font-size: 22px;
}

.select-gender {
  padding: 9px 12px;
  background-color: white;
  border: none;
  margin: 0 8px;
  outline: none;
  border-right: 8px solid white;
  color: #6A6A6A;
  text-transform: uppercase;
}

.join-us {
  background-image: url(../assets/bg-join-us.jpg);
  height: 40vh;
  background-size: cover;
  background-position: center;
}

.join-us-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40vh;
  font-family: "JostSemiBold";
  text-transform: uppercase;
  color: white;
}
.join-us-box h2 {
  font-size: 3.5rem;
  margin: 0;
}
.join-us-box p {
  font-size: 1.6rem;
}
.join-us-box button {
  background-color: #F2CD36;
  border: none;
  text-transform: uppercase;
  padding: 10px 20px;
}
.join-us-box button:hover {
  background-color: black;
  color: #F2CD36;
}

.movies-list {
  padding: 50px 100px;
}
.movies-list h2 {
  color: black;
  font-family: "JostSemiBold";
  text-transform: uppercase;
  font-size: 1.6rem;
}
.movies-list h2::after {
  content: "";
  width: 170px;
  height: 5px;
  background-color: #F2CD36;
  display: block;
}

.footer {
  background-color: black;
  color: #F2CD36;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "JostSemiBold";
}
.footer ul {
  margin: 0;
}
.footer ul li {
  display: inline-block;
  margin: 0 40px;
  text-transform: uppercase;
  flex-wrap: wrap;
}

:hover, a {
  transition: all 0.3s ease;
  text-decoration: none;
}/*# sourceMappingURL=main.css.map */