@font-face {
  font-family: "Jost300";
  src: url("../../public/fonts/Jost-Light.woff2") format("woff2"), url("../../public/fonts/Jost-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Jost200";
  src: url("../../public/fonts/Jost-Thin.woff2") format("woff2"), url("../../public/fonts/Jost-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "JostMedium";
  src: url("../../public/fonts/Jost-Book.woff2") format("woff2"), url("../../public/fonts/Jost-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "JostSemiBold";
  src: url("../../public/fonts/Jost-Semi.woff2") format("woff2"), url("../../public/fonts/Jost-Semi.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Jost* 500";
  src: url("../../public/fonts/Jost-Medium.woff2") format("woff2"), url("../../public/fonts/Jost-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
.navbar {
  background-color: black;
  font-family: "JostSemiBold";
  font-size: 1.1rem;
  padding: 0 100px;
}

.navbar-nav button {
  border: none;
  background-color: transparent;
  color: #F2CD36;
  text-transform: uppercase;
  padding: 4px 20px;
  transition: all 0.3s ease;
}
.navbar-nav button:hover {
  color: black;
  background-color: #F2CD36;
}

.navbar-collapse {
  flex-grow: inherit;
}

.navbar-toggler {
  background-color: #F2CD36;
}

@media (max-width: 575.98px) {
  .navbar-brand img {
    max-width: 130px;
  }
}

.header {
  background-image: url(../assets/bg-cinema.png);
  height: 40vh;
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 100px;
}
.header h2, .header p {
  font-family: "JostSemiBold";
  text-transform: uppercase;
}
.header h2 {
  margin: 0;
}
@media (min-width: 200px) {
  .header h2 {
    font-size: 1.5rem;
  }
}
@media (min-width: 768px) {
  .header h2 {
    font-size: 2.5rem;
  }
}
.header p {
  font-size: 1.2rem;
}

.movie-input {
  color: white;
  border: none;
  padding: 6px 12px;
  outline: none;
  width: 620px;
  color: #6A6A6A;
  text-transform: uppercase;
  margin-right: 8px;
}
@media (min-width: 200px) {
  .movie-input {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .movie-input {
    width: 620px;
  }
}

.search-btn {
  background-color: #F2CD36;
  border: none;
  padding: 0px 10px 4px 10px;
  font-size: 22px;
}
@media (min-width: 200px) {
  .search-btn {
    width: 100%;
    margin-top: 10px;
  }
}
@media (min-width: 768px) {
  .search-btn {
    width: inherit;
  }
}

.select-gender {
  padding: 9px 12px;
  background-color: white;
  border: none;
  margin-right: 8px;
  outline: none;
  border-right: 8px solid white;
  color: #6A6A6A;
  text-transform: uppercase;
}

.join-us {
  background-image: url(../assets/bg-join-us.jpg);
  height: 40vh;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.join-us-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40vh;
  font-family: "JostSemiBold";
  text-transform: uppercase;
  color: white;
}
.join-us-box h2 {
  margin: 0;
}
@media (min-width: 200px) {
  .join-us-box h2 {
    font-size: 1.5rem;
  }
}
@media (min-width: 768px) {
  .join-us-box h2 {
    font-size: 3.5rem;
  }
}
.join-us-box p {
  font-size: 1.6rem;
}
.join-us-box button {
  background-color: #F2CD36;
  border: none;
  text-transform: uppercase;
  padding: 10px 20px;
}
.join-us-box button:hover {
  background-color: black;
  color: #F2CD36;
}

.movies-list {
  padding: 50px 100px;
}
.movies-list h2 {
  color: black;
  font-family: "JostSemiBold";
  text-transform: uppercase;
  font-size: 1.6rem;
}
.movies-list h2::after {
  content: "";
  width: 170px;
  height: 5px;
  background-color: #F2CD36;
  display: block;
}
.movies-list .col-pointer {
  cursor: pointer;
  transform: scale(1);
  transition: all 0.5s ease;
}
.movies-list .col-pointer:hover {
  transform: scale(1.1);
  transition: all 0.5s ease;
}

.movie-main {
  padding: 20px 40px;
}
.movie-main h2 {
  font-family: "JostSemiBold";
  margin: 0;
}
.movie-main span {
  font-size: 1.3rem;
  color: #6A6A6A;
  font-family: "JostSemiBold";
}
.movie-main p {
  font-family: "Jost300";
  font-size: 1.2rem;
  margin-top: 10px;
}

.category-list h2 {
  color: black;
  font-family: "JostSemiBold";
  text-transform: uppercase;
  font-size: 1.6rem;
}
.category-list h2::after {
  content: "";
  width: 170px;
  height: 5px;
  background-color: #F2CD36;
  display: block;
}
.category-list .ratio {
  margin: 50px 0;
}

.profile-list {
  padding: 30px 100px;
}
.profile-list h2 {
  color: black;
  font-family: "JostSemiBold";
  text-transform: uppercase;
  font-size: 1.6rem;
  margin-bottom: 30px;
}
.profile-list h2::after {
  content: "";
  width: 170px;
  height: 5px;
  background-color: #F2CD36;
  display: block;
}
.profile-list span {
  font-family: "JostSemiBold";
  font-size: 1.4rem;
  display: block;
}
.profile-list button {
  border: none;
  font-family: "JostMedium";
  font-size: 1rem;
  margin-top: 5px;
  display: block;
}
.profile-list .btn-remove {
  background-color: black;
  color: white;
}
.profile-list .btn-favorites {
  background-color: #F2CD36;
  color: black;
}
.profile-list .col-2 {
  margin-top: 20px;
}

.popular-upcoming {
  margin-top: 30px;
}
@media (min-width: 1200px) {
  .popular-upcoming .col-xl-1 {
    padding: 0;
  }
}
.popular-upcoming p {
  font-family: "JostSemiBold";
  font-size: 1.1rem;
  padding-top: 5px;
  line-height: 1.3;
  padding-right: 10px;
}

.header-movie-details {
  background-image: url(../assets/bg-cinema.png);
  height: 12vh;
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center -140px;
}

.movie-details {
  padding: 50px 0;
}
.movie-details h2 {
  font-family: "JostSemiBold";
  margin: 0;
}
.movie-details span {
  font-size: 1.2rem;
  color: #6A6A6A;
  font-family: "JostSemiBold";
  display: block;
}
.movie-details .gender {
  color: #B28F00;
}
.movie-details h3 {
  margin: 20px 0 0 0;
  font-family: "JostSemiBold";
  font-size: 1.4rem;
}
.movie-details button {
  background-color: #F2CD36;
  border: none;
  font-size: 16px;
  display: flex;
  width: 170px;
  height: 30px;
  align-items: center;
  margin: 3px 0;
  justify-content: space-around;
}

.trailer {
  background-color: black;
  padding: 50px 100px;
}
.trailer h2 {
  color: black;
  font-family: "JostSemiBold";
  text-transform: uppercase;
  font-size: 1.6rem;
  color: white !important;
}
.trailer h2::after {
  content: "";
  width: 170px;
  height: 5px;
  background-color: #F2CD36;
  display: block;
}

.reviews {
  padding: 50px 0;
}
.reviews h2 {
  color: black;
  font-family: "JostSemiBold";
  text-transform: uppercase;
  font-size: 1.6rem;
}
.reviews h2::after {
  content: "";
  width: 170px;
  height: 5px;
  background-color: #F2CD36;
  display: block;
}
.reviews input, .reviews textarea {
  margin-top: 20px;
}
.reviews input[type=text], .reviews textarea {
  border: none;
  width: 100%;
  background-color: #F3F3F3;
  height: 150px;
  padding: 10px;
  outline: 0;
}
.reviews input[type=submit] {
  background-color: #F2CD36;
  border: none;
  text-transform: uppercase;
  font-size: 16px;
  padding: 10px 20px;
  font-family: "JostSemiBold";
}

.all-reviwes {
  padding-top: 50px;
}
.all-reviwes div {
  padding: 20px 0;
}
.all-reviwes h3 {
  font-family: "JostSemiBold";
  font-size: 1.3rem;
}
.all-reviwes P {
  font-family: "Jost300";
  word-break: break-all;
}

.about-us {
  padding: 50px 0;
}
.about-us h2 {
  color: black;
  font-family: "JostSemiBold";
  text-transform: uppercase;
  font-size: 1.6rem;
}
.about-us h2::after {
  content: "";
  width: 170px;
  height: 5px;
  background-color: #F2CD36;
  display: block;
}
.about-us h3 {
  font-family: "JostMedium";
  padding-top: 10px;
  margin: 0;
}
.about-us span {
  font-size: 30px;
  color: black;
}
.about-us p {
  margin: 0;
}
.about-us .row {
  padding-top: 50px;
}

.footer {
  background-color: black;
  color: #F2CD36;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "JostSemiBold";
}
@media (max-width: 575.98px) {
  .footer {
    height: inherit;
  }
}
.footer ul {
  margin: 0;
}
@media (max-width: 575.98px) {
  .footer ul {
    margin: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
.footer ul li {
  display: inline-block;
  margin: 0 20px;
  text-transform: uppercase;
  flex-wrap: wrap;
}
.footer ul li a {
  padding: 4px 20px;
  transition: all 0.3s ease;
}
.footer ul li a:hover {
  color: black;
  background-color: #F2CD36;
}

:hover, a {
  transition: all 0.3s ease;
  text-decoration: none;
}