$main-color: #F2CD36;
@mixin title-separator {
    color: black;
    font-family: 'JostSemiBold';
    text-transform: uppercase;
    font-size: 1.6rem;
    &::after{
        content: '';
        width: 170px;
        height: 5px;
        background-color: $main-color;
        display: block;
    }
}

@import "fonts";
@import "nav";
@import "header";
@import "join-us";
@import "movie-list";
@import "movie-details";
@import "_about-us";
@import "footer";

:hover, a{
    transition: all 0.3s ease;
    text-decoration: none;
}

